<div id="content">
  <div id="tag-tree-view">
    <jqxTreeGrid #myTreeGrid
                 (onCellBeginEdit)="treeGridOnCellBeginEdit($event)" (onCellEndEdit)="treeGridOnCellEndEdit($event)"
                 (onContextmenu)="myTreeGridOnContextmenu()" (onRowClick)="myTreeGridOnRowClick($event)"
                 [width]="getWidth()" [source]="dataAdapter" [columns]="columns" [editable]="true"
                 [columnsResize]="true" [ready]="ready" [editSettings]="editSettings">
    </jqxTreeGrid>
    <jqxMenu #myMenu (onItemclick)="myMenuOnItemClick($event)"
             [width]="200" [height]="56" [autoOpenPopup]="false" [mode]="'popup'">
      <ul>
        <li>Add new Row</li>
        <li>Delete Selected Row</li>

      </ul>
    </jqxMenu>

  </div>
</div>
