<div id="content">
  <button class="add-button">
    Add new class
  </button>
  <div class="infocard" *ngFor="let lesson of lessons">
    <div class="tags">
      <span class="tag" *ngFor="let tag of tags.get(lesson.id)">
        {{tag.title}}
      </span>
    </div>
    <div class="info">
      <div class="photo">
        <Img src="https://i03.fotocdn.net/s119/f083067e73751fa5/public_pin_l/2723540425.jpg" alt="request icon">
      </div>
      <div class="personal-info">
            <span class="contacts">
              <div class="name">
                {{lesson.teacher.lastName}} {{lesson.teacher.firstName}}
              </div>
              <table>
                <tr>
                  <td>status:</td>
                  <td id="group">student</td>
                </tr>
                <tr>
                  <td>rating:</td>
                  <td id="rating">{{lesson.teacher.rating}}</td>
                </tr>
              </table>
            </span>
      </div>
      <div class="comment">
        Description: {{lesson.description}}
      </div>
      <div class="trailer-section">
        <table>
          <tr>
            <td id="points">{{lesson.pointsToGet}}</td>
            <td>points</td>
          </tr>
          <tr>
            <td colspan="2" >
              <button (click)="delete(lesson.id)"> remove</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>
