<header class="header" role="banner">
  <h1 class="logo">
    <a href="#"><span>Know</span>net</a>
  </h1>
  <div class="nav-wrap">
    <nav class="main-nav" role="navigation">
      <ul class="unstyled ten">
        <li class="picked"><a href="#">My profile</a></li>
        <li><a routerLink="/users">Users</a></li>  <!--        JUST FOR TEST-->
        <li><a routerLink="/learn">Learn</a></li>
        <li><a href="#">Teach</a></li>
        <li><a href="#">Incoming requests</a></li>
        <li><a href="#">Outgoing requests</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Settings</a></li>
        <!--<li><a href="#">Manage organization</a></li>
        <li><a href="#">Manage Tag tree</a></li>
        <li><a href="#">Manage add-lesson requests</a></li>
        <li><a href="#">Manage reports</a></li>-->
      </ul>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>
