<div id="content">
  <div class="infocard">
    <div class="tags">
          <span class="tag">
            hello
          </span>
      <span class="tag _2">
            world
          </span>
      <span class="tag _3">
            howareugoingkek
          </span>
    </div>
    <div class="trailer-section">
      <div class="top">
        <table>
          <tr>
            <td id="points">20</td>
            <td>points</td>
          </tr>
        </table>
      </div>
      <div class="data">
        22.10.2020
      </div>
      <button>
        withdraw
      </button>
    </div>
    <div class="info">
      <div class="photo">
        <Img src="https://i03.fotocdn.net/s119/f083067e73751fa5/public_pin_l/2723540425.jpg" alt="request icon">
      </div>
      <div class="personal-info">
            <span class="contacts">
              <div class="name">
                Michael Ovchinkin
              </div>
              <table>
                <tr>
                  <td>status:</td>
                  <td id="group">student</td>
                </tr>
                <tr>
                  <td>rating:</td>
                  <td id="rating">5.00</td>
                </tr>
              </table>
            </span>
      </div>
      <div class="comment">
        Hello, I need help cause I know nothing about howareugoingkek
      </div>
    </div>

  </div>
</div>
