@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap");

@infocard-height: 140px;

.infocard {
  .trailer-section {
    font-size: 20px;
    width: 100px;
    height: @infocard-height - 10px;
    margin-top: 0px;
    margin-right: 5px;
    float: right;

    .data {
      font-size: 17px;
      margin: auto;
      margin-bottom: 10px;
      width: 100px;
      height: 30px;
      padding-left: 5px;
      padding-top: 8px;
      background-color: #dfdfdf;
      border-radius: 14px;
    }

    button {
      border-radius: 14px;
      font-size: 20px;
      width: 105px;
      height: 45px;
      outline: none;
      background: #ffafaf;
    }
  }
}
