<div id="content">
  <div class="infocard" *ngFor="let learn of learns">
    <div class="tags">
      <span class="tag" *ngFor="let tag of tags.get(learn.lesson.tag.id)">
        {{tag.title}}
      </span>
    </div>
      <div class="trailer-section">
        <div class="top">
          <table>
            <tr>
              <td id="points">{{learn.lesson.pointsToGet}}</td>
              <td>points</td>
            </tr>
          </table>
        </div>
          <button (click)="withdraw(learn)">
            canceled
          </button>
        <ng-template [ngIf]="learn.status === 'LESSON_REQUEST_ACCEPTED'">
          <button (click)="accept(learn)">
            accept
          </button>
          <button (click)="deny(learn)">
            deny
          </button>
        </ng-template>
        <ng-template [ngIf]="learn.status === 'LESSON_REQUEST_REJECTED'">
          NO lesson
        </ng-template>
      </div>
      <div class="info">
        <div class="photo">
          <Img src="https://i03.fotocdn.net/s119/f083067e73751fa5/public_pin_l/2723540425.jpg" alt="request icon">
        </div>
        <div class="personal-info">
              <span class="contacts">
                <div class="name">
                  {{learn.teacher.firstName}} {{learn.teacher.lastName}}
                </div>
                <table>
                  <tr>
                    <td>status:</td>
                    <td id="group">{{learn.teacher.group}}</td>
                  </tr>
                  <tr>
                    <td>rating:</td>
                    <td id="rating">{{learn.teacher.rating}}</td>
                  </tr>
                </table>
              </span>
        </div>
        <div class="comment">
          {{learn.lesson.description}}
        </div>
      </div>
  </div>
</div>
